[project]
	description = GerritHub GitHub Workflow Test Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rohan Reddy (reddyro)
[access "refs/for/refs/*"]
	read = group user/Rohan Reddy (reddyro)
	push = group user/Rohan Reddy (reddyro)
	label-Code-Review = -2..+2 group user/Rohan Reddy (reddyro)
	label-Verified = -1..+1 group user/Rohan Reddy (reddyro)
	rebase = group user/Rohan Reddy (reddyro)
	submit = group user/Rohan Reddy (reddyro)
[access "refs/heads/*"]
	read = group user/Rohan Reddy (reddyro)
	create = group user/Rohan Reddy (reddyro)
	push = +force group user/Rohan Reddy (reddyro)
	pushMerge = group user/Rohan Reddy (reddyro)
[access "refs/tags/*"]
	push = +force group user/Rohan Reddy (reddyro)
	pushTag = group user/Rohan Reddy (reddyro)
	pushSignedTag = group user/Rohan Reddy (reddyro)
